html {
    overflow-x: hidden;
}

/* Curve Background */
.background {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("../img/fundo_index.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: -85px;
}

#curve {
    position: absolute;
    bottom: 0;
}

#curve path {
    fill: #ffffff;
}

/* Título Página */
#container-titulo {
    position: relative;
    top: 25%;
}

#titulo-pagina h2 {
    position: relative;
    left: 7%;
    color: white;
    font-family: Raleway;
    font-size: 28pt;
    display: inline-block;
}

#titulo-pagina h2:nth-child(2) {
    font-weight: 700;
}

#titulo-pagina p {
    position: relative;
    left: 7%;
    color: white;
    font-family: Raleway;
}

#titulo-pagina a {
    font-family: Raleway;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 8pt;
    position: relative;
    left: 7%;
    color: #25A09E;
    border-radius: 35px;
    padding: 11px 20px;
    border: 0px;
    transition: 0.7s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
}

#titulo-pagina a:hover {
    background-color: rgba(255, 255, 255, 1);
}

.img_index {
    position: relative;
    width: 300px;
    left: 25%;
    bottom: 15px;
}

/*  Destaques  */
.destaques {
    padding-top: 20px;
}

.destaques h2 {
    font-family: raleway;
    font-weight: 700;
}

.card-img {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-title {
    font-family: Raleway;
    font-weight: 600;
}

.card {
    border: none;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.005);
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
}

.link-post {
    text-decoration: none !important;
    color: rgb(33, 37, 41);
}

.link-post:hover {
    color: rgb(33, 37, 41);
}

.card-text {
    line-height: 1.6;
}

/* Serviços */
.iconesRef {
    margin-top: 6px;
}

.servicos {
    padding-top: 100px;
}

.container_servicos {
    padding-top: 120px;
}

/*  Video  */
.video {
    padding-top: 80px;
}

#container_video {
    padding-bottom: 50px;
}

video {
    border-radius: 3px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.3);
}

#container_video p {
    text-align: center;
    line-height: 1.6;
}

/* Responsividade */
@media screen and (max-width: 1200px) {
    iframe {
        width: 800px;
        height: 450px;
        position: relative;
        left: 6%;
    }
}

@media screen and (max-width: 992px) {
    iframe {
        width: 635px;
        height: 360px;
        left: 4%;
    }
}

@media screen and (max-width: 768px) {
    iframe {
        width: 540px;
        height: 305px;
        left: -2%;
    }
}

@media screen and (max-width: 576px) {
    iframe {
        width: 420px;
        height: 237px;
        left: 2%;
    }
    .card{
      position: relative;
      left: 20%;
    }
}

@media screen and (max-width: 530px) {
    .card{
      left: 15%;
    }
}

@media screen and (max-width: 491px) {
    iframe {
        left: 1%;
    }
}

@media screen and (max-width: 480px) {
  .card{
    left: 10%;
  }
}

@media screen and (max-width: 420px) {
  .card{
    left: 5%;
  }
}

@media screen and (max-width: 445px) {
    iframe {
        width: 360px;
        height: 202px;
    }
}

@media screen and (max-width: 410px) {
    iframe {
        left: 3%;
    }
}

@media screen and (max-width: 390px) {
    iframe {
        width: 300px;
        height: 170px;
    }
    .card{
      left: 0%;
    }
}

@media screen and (max-width: 1199px) {
    .bg_servicos_gire {
        height: 625px !important;
    }
}

@media screen and (max-width: 992px) {
    .bg_servicos_gaid {
        height: 770px !important;
    }

    .bg_servicos_gire {
        height: 775px !important;
    }

    .bg_servicos_inter {
        height: 620px !important;
    }
}

@media screen and (max-width: 768px) {
    .container_servicos {
        padding-top: 35px;
    }

    .bg_servicos_gaid {
        height: 1080px !important;
    }

    .bg_servicos_gire {
        height: 960px !important;
    }

    .bg_servicos_inter {
        height: 890px !important;
    }
}

@media screen and (max-width: 500px) {
    .bg_servicos_gaid {
        height: 1150px !important;
    }
}

@media screen and (max-width: 430px) {
    .bg_servicos_gaid {
        height: 1250px !important;
    }

    .bg_servicos_gire {
        height: 1000px !important;
    }

    .bg_servicos_inter {
        height: 1000px !important;
    }
}

@media screen and (max-width: 810px) {
    .img_index {
        left: 20%;
    }
}

@media screen and (max-width: 785px) {
    .img_index {
        left: 15%;
    }
}

@media screen and (max-width: 767px) {
    .img_index {
        opacity: 0;
    }
}

@media screen and (max-width: 545px) {
    #titulo-pagina p {
        width: 460px;
    }
}

@media screen and (max-width: 500px) {
    #titulo-pagina p {
        width: 400px;
    }
}

@media screen and (max-width: 435px) {
    #titulo-pagina p {
        width: 350px;
    }
}

@media screen and (max-width: 395px) {
    #titulo-pagina p {
        width: 300px;
    }
}

@media screen and (max-width: 340px) {
    #titulo-pagina p {
        width: 250px;
    }
}
