
body {
    min-width: 450px;
    background-image: url("../img/fundo_index.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


#nav_container,footer {
    display: none;
}


.logo404 {
    width: 150px;
    margin-top: 30px;
}

.txt_404{
    z-index: -1;
    font-size:280px;
    color:white;
    opacity: 0.2;
    font-weight: bold;
    line-height: 280px;

}


.txt_info1 {
    font-size: 24pt;
    text-transform: uppercase;
    font-weight: bold;
}


.txt_info2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn{
    border-radius: 20px !important;
}
