.task-item {
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.task-item:hover {
    border-radius: 5px;
    background-color: rgba(240, 240, 240);
}

.task-item-mute {
    padding: 10px;
    cursor: default;
    transition: 0.2s ease-in-out;
}

.task-item-mute:hover {
    border-radius: 5px;
    background-color: rgba(240, 240, 240);
}

.task-checkbox {
    top: 5px;
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 2px;
    display: inline-block;
    transition: 0.2s ease-in-out;
    background-color: rgba(250, 250, 250);
    box-shadow: inset 0 0 0 2px #dfe1e6;
}

.task-checkbox:hover {
    background-color: rgba(240, 240, 240);
}

.task-checkbox-mute {
    z-index: 1;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    background-color: rgba(240, 240, 240);
    box-shadow: inset 0 0 0 2px #dfe1e6;
}

.checkbox-active {
    top: 4px;
    z-index: 1;
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 2px;
    display: inline-block;
    transition: 0.2s ease-in-out;
    background-color: rgb(78, 115, 223);
}

.checkbox-check:hover {
    background-color: rgb(104, 135, 227);
}

.check-item {
    left: 3.5px;
    bottom: 4px;
    color: white;
    font-size: 8pt;
    position: relative;
}

.task-item-title {
    margin: 0;
    padding: 5px;
    margin-left: 5px;
    display: inline-block;
}

.task-item-title-mute {
    margin: 0;
    padding: 5px;
    margin-left: 5px;
    margin-top: 1px;
    font-style: italic;
}

.subTask-buttons {
    margin-top: 20px;
}

.subtask-input-form {
    width: 100%;
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(230, 230, 230);
}

.subtask-input-form:focus {
    border: 2px solid #4e73df;
    background-color: transparent;
}

.subtask-input-form::placeholder {
    font-size: 10pt;
    font-style: italic;
}

.dropdown-task-options {
    display: inline-block;
}

.subtask-single-button {
    width: 13px;
    display: inline-block;
}

.subtask-delete-option {
    opacity: 0;
    bottom: 2px;
    float: right;
    position: relative;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

/* Modal Style */
.modal-content {
    border: none;
}

.modal-header {
    height: 50px;
    border: none !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-header h6 {
    position: relative;
    top: 2px;
}

.close-modal-button {
    position: relative;
    top: 3px;
}

.line {
    top: 3px;
    left: 50%;
    width: 94%;
    height: 1px;
    position: relative;
    display: inline-block;
    transform: translate(-50%, -50%);
    background-color: rgba(230, 230, 230);
}

.modal-body {
    min-height: 100px;
    margin-top: 10px;
}

.task-title-input {
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    border: 2px solid rgb(230, 230, 230);
    background-color: rgb(250, 250, 250);
}

.task-title-input:focus {
    border: 2px solid #4e73df;
    background-color: transparent;
}

.task-title-input::placeholder {
    font-style: italic;
}

.modal-footer {
    border: none !important;
    bottom: 10px;
    min-height: 30px;
    padding-top: 0px;
    position: relative;
}
