.background{
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url("../img/fundo_index.jpg");
  background-size: cover;
  width: 100%;
  height: 60vh;
  top: -85px;
}

#curve{
  position: absolute;
  bottom: 0;
}

#curve path{
  fill: #ffffff;
}

.backgroundTitle{
  position: relative;
  font-weight: 700;
  color: white;
  text-align: center;
  top: 40%;
}
