.navbar {
    position: relative;
    background-color: transparent;
    height: 85px;
    z-index: 2;
}

.logo {
    position: relative;
    width: 150px;
    left: 10%;
}

.nav-item {
    padding: 15px;
}

.nav-link {
    color: white;
    font-weight: 500;
    font-size: 12pt;
    transition: 0.5s ease-in-out;
}

.nav-link:hover {
    color: white;
}

.dropdown-menu {
    background-color: white;
    border: none;
    margin-top: -5px;
    padding: 0px auto;
}

.dropdown-item {
    padding: 8px;
    transition: 0.3s ease-in-out;
}

.line_nav::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .4s;
}

.line_nav:hover::after {
    width: 100%;
    transition: width .4s;
}

.fa-sort-down:before {
    float: left;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}

/* Button Back To Top */
#backToTop {
    z-index: 3;
    font-size: 2rem;
    color: #CACFD2;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}

#backToTop:hover {
    transition: all .2s ease-in;
    cursor: pointer;
    color: #48C9B0;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-nav {
    display: none;
    position: absolute;
    padding-bottom: 0;
    padding-top: 0;
    margin-left: 22px;
    border-radius: 2px;
}

.dropdown-nav a {
    display: block;
    text-decoration: none;
}

.dropdown-nav a:hover {
    color: black;
    background-color: #dbdbdb;
    border-radius: 2px;
}

.itemdown {
    padding-left: 20px;
}

.dropdown:hover .dropdown-nav {
    display: block;
    margin-right: 0;
}

/* Side Navigation Menu */
.buttonSideNav {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #171717;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s ease-in-out;
    z-index: 3;
}

.sidenav ul li a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
    transition: 0.3s;
    position: relative;
    left: 5%;
}

/*
.closebtn {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: inline;
    transition: 0.3s;
}

.dropdown-item {
    display: block;
    left: 0;
}

.sideNavDropdown {
    background-color: rgba(255, 255, 255);
}

.sideNavDropdown a {
    display: block !important;
    left: 0 !important;
    color: #171717 !important;
    transition: 0.5s ease-in-out;
}

.sideNavDropdown a:hover {
    background-color: grey;
}

.sidenav .dropdown-menu a:hover {
    color: white;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .buttonSideNav {
        display: block;
    }
}
*/
/* Sidebar */
.line_sidebar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px !important;
    background: #fff;
    transition: width .4s;
}

.line_sidebar a:hover::after {
    width: 10%;
    transition: width .4s;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: white;
    text-decoration: none;
}

.logo_sidenav {
    width: 150px;
    position: absolute;
    left: 7%;
    bottom: 20px;
}

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    padding-left: 25px;
    background: rgba(32, 59, 64, 0.8);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: white;
    padding-bottom: 20px;
    font-weight: 500;
}

.mobile-nav li:hover>a {
    color: white;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down :hover {
    background-color: transparent;
}

.mobile-nav .drop-down li {
    padding-left: 15px;
}

.mobile-nav-toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: white;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(28, 52, 57, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: white;
    margin-right: 35px !important;
}

@media screen and (min-width: 700px) {
    .logo_sidenav {
        display: none;
    }
}
