body{
    min-width: 470px !important;
}


.img-thumbnail{
    width:200px !important;
    height:200px !important;
    border-radius: 100% !important;
    overflow: hidden !important;
    cursor: pointer;
}

.col-photo{
  width: 250px;
  min-width: 250px;
}

.div-user-photo{
width: 430px !important;
min-width: 350px !important;
max-width: 444px !important;
}


.file {
    visibility: hidden;
    position: absolute;
  }


  .input-group{
      width: 280px !important;
  }



.id_info{
  font-size: 12pt;
  cursor: pointer;
}


.reset_photo{
  position: relative;
  top:-15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 22px;
  background-color: red;
  border-color: white;
  border-style: double;
  border-width: thick;
  cursor: pointer;
}


.warning_img_size{
  box-shadow: 0 0 7px 2px #ffbaba;
  background-color:#ffbaba;
}

  .field_focus{

    animation: focus_gabinete 1.5s;
}

  @keyframes focus_gabinete {

    0% {
        box-shadow: 0 0 0 0 white;
      }
    50% {
        box-shadow: 0 0 7px 2px #ffbaba;
        background-color:#ffbaba;
      }
    100% {
        box-shadow: 0 0 0 0 white;

      }
    }




  @media screen and (max-width: 1000px) {
    th:nth-of-type(1),td:nth-of-type(1) {
        display: none;
    }
    th:nth-of-type(4),td:nth-of-type(4) {
        display: none;
    }
    th:nth-of-type(5),td:nth-of-type(5) {
        display: none;
    }

}


@media screen and (max-width: 930px) {
    .div-user-photo {
        min-width: 100% !important;
    }
    .userfields {
        min-width: 100% !important;
    }

}




@media screen and (max-width: 900px) {
    .col-photo{
        display: none;
    }


}
