html{
    overflow-x: hidden;
}


.imgGirl img {
    width: 100%;
}

/*.imgGirl {*/
/*    text-align: right;*/
/*}*/

.sec1 {
    margin-top: auto;
    margin-bottom: auto;
}

.card a {
    color: #1d2124;
}

.card a:hover {
    color: #62696f;
}

.card{
    border: none;
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.3);
}

.card img {
    border-radius: 6px;
}
.cards{
    margin-bottom: 100px;
}

.backF {
    padding: 100px 0 100px 0;
    margin: 100px 0 100px 0;
}

@media only screen  and (max-width: 770px){

    .imgGirl, .sec1div {
        display: none;
    }
    .sec1 {
        text-align: center;
    }


}
