body {
    min-width: 400px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600 !important;
    margin-bottom: 50px !important;
}

p, b {
    min-width: 400px;
    font-family: 'Raleway', sans-serif;
}

.programa {
    line-height: 2.5;
}

a.divulgacao_link {
    text-decoration: none;
    color: black !important;
}

a.divulgacao_link:hover {
    text-decoration: none;;
    color: #7a7a78;
}
