@media screen and (max-width: 1190px) {
    .preview{
        display: none;
    }

    .btn-info{
        display: none;
    }

}




@media screen and (max-width: 1000px) {
    th:nth-of-type(1),td:nth-of-type(1) {
        display: none;
    }
    th:nth-of-type(4),td:nth-of-type(4) {
        display: none;
    }
    th:nth-of-type(5),td:nth-of-type(5) {
        display: none;
    }


}


@media screen and (max-width: 900px) {
    .col-photo{
        display: none;
    }


}



.img-thumbnail{
    width:200px !important;
    height:200px !important;
    border-radius: 100% !important;
    overflow: hidden !important;


}

.col-photo{
    width: 250px;
    min-width: 250px;
    height: 250px;
}





.preview_focus{

    animation: focus_gabinete 1s;
}

  @keyframes focus_gabinete {

    0% {
        box-shadow: 0 0 0 0 white;
      }
    50% {
/*         box-shadow: 0 0 7px 2px #939598; */
        background-color:#E7E8E9;
      }
    100% {
        box-shadow: 0 0 0 0 white;

      }
    }






