
@media screen and (max-width: 1260px) {
    th:nth-of-type(1),td:nth-of-type(1) {
        display: none;
    }
    th:nth-of-type(4),td:nth-of-type(4) {
        display: none;
    }

}


@media screen and (max-width: 1020px) {
    th:nth-of-type(1),td:nth-of-type(1) {
        display: none;
    }
    th:nth-of-type(4),td:nth-of-type(4) {
        display: none;
    }
    th:nth-of-type(6),td:nth-of-type(6) {
        display: none;
        width: 130px;
    }
}


@media screen and (max-width: 900px) {
    th:nth-of-type(5),td:nth-of-type(5) {
        display: none;
    }

}

.img_user{
    max-width: 60px;
    height: 60px;
  }


