.card-notes {
    min-height: 300px;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 10px;
}

.card-footer {
    min-height: 60px;
    max-height: 60px;
}

.note {
    width: 104%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.note:hover {
    border-radius: 5px;
    background-color: rgba(240, 240, 240);
}

.without-note {
    position: relative;
    top: 7%;
}

.note-title {
    display: inline list-item;
}

.note-delete-button {
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.note-add-input {
    position: relative;
    bottom: 1px;
    left: -5px;
    padding: 3px;
    padding-left: 5px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(230, 230, 230);
}

.note-add-input:focus {
    border: 2px solid #4e73df;
    background-color: transparent;
}

.note-add-input::placeholder {
    font-size: 10pt;
    font-style: italic;
}

.note-add-button {
    float: right;
}

.note-update-input {
    position: relative;
    padding: 3px;
    padding-left: 5px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(230, 230, 230);
}

.note-update-input:focus {
    border: 2px solid #4e73df;
    background-color: transparent;
}

.note-update-input::placeholder {
    font-size: 10pt;
    font-style: italic;
}
