@media screen and (max-width: 1000px) {
    .monthpubs {
        min-width: 100% !important;
    }
    .pubsyear {
        min-width: 100% !important;
    }

}



@media screen and (max-width: 1070px) {
    .month_table {
        display: none;
    }

}





@media screen and (max-width: 930px) {
    .month_table {
        display: block;
    }

    .graphic_col{
        display: none;
    }

}





