

body {
    min-width: 400px;
    font-family: 'Raleway', sans-serif;
}

.card-footer a{
    color:#86C0DB;
    text-decoration: underline;
}
.card-footer a:hover{
    color:#425af5;
    text-decoration: underline;
}



.card{
    min-height: 235px;
    overflow: hidden;
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid white;
    cursor: pointer;

}
.card:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.3);
  }


.card-title{
    text-transform: uppercase;
}


iframe{
    width:100%;
    height:100%;
    border:0px;
}


.div_mapa{
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.btn-success{
    border-style: none !important;
    font-weight: bold;
    font-size: 11pt ;
    background: linear-gradient(15deg, rgba(88,181,135,1) 0%, rgba(76,172,205,0.7234244039412641) 100%);
    transition: 0.5s ease;
}


.btn-success:hover{
    background: linear-gradient(220deg, rgba(88,181,135,1) 0%, rgba(76,172,205,0.7234244039412641) 100%);

}


#Mensagem{
    min-height: 120px;
    max-height: 350px;
}



@media screen and (max-width: 768px) {
    .div_mapa{
      display: none;
    }
  }




.gabinete_focus{

    animation: focus_gabinete 1.5s;
}

  @keyframes focus_gabinete {

    0% {
        box-shadow: 0 0 0 0 white;
      }
    50% {
        box-shadow: 0 0 7px 2px lightgreen;
        background-color:lightgreen;
      }
    100% {
        box-shadow: 0 0 0 0 white;

      }
    }
