html {
    scroll-behavior: smooth;
    min-width: 450px;
}

body {
    margin: 0;
    padding: 0;
}

/* Loader */

#loaderBg{
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: 1s ease-in-out;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #48C9B0;
    width: 120px;
    height: 120px;
    animation: spin 1.5s ease-in-out infinite;
    transition: 0.5s ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
