.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    padding: 0 5px !important;
}

li .select2-selection__choice__remove {
    float: right !important;;
}

.select2-container--bootstrap4 .select2-selection {
    border-radius: 0.35rem !important;
    border: 1px solid #d1d3e2 !important;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    box-shadow: 0 0 0 0.2rem rgb(211, 220, 247) !important;
    border-color: #BAC8F3 !important;
}

ul.select2-selection__rendered {
    padding: 1px 12px 0 12px !important;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #EAEDED;
    color: #676978;
}

::placeholder {
    color: #858796;
}

.select2-search--dropdown .select2-search__field{
    display: none;
}
/********************************/
.selected {
    background-color: #BAC8F3;
    color: white;
}
 /************* Tabela da Modal *******************/

#modalChoseTable td{
    cursor: pointer;
}
