.icon-circle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #4e73df;
  padding: 1rem 0;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.icon-circle .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-circle .icons i {
  position: absolute;
}
.icon-circle .icons .icon-default {
  transition: opacity 0.2s, transform 0.2s;
}
.icon-circle .icons .icon-hover {
  transition: opacity 0.2s, transform 0.2s;
  transform: rotate(-180deg) scale(0.4);
  opacity: 0;
}
.icon-circle:hover {
  transform: scale(1.2);
  background-color: #e74a3b;
}
.icon-circle:hover .icon-hover {
  transform: rotate(0deg) scale(1);
  opacity: 1;
}
.icon-circle:hover .icon-default {
  transform: rotate(180deg) scale(0.5);
  opacity: 0;
}
