body {
    min-width: 400px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 500 !important;
}

/*========== Filtragem ==========*/
.btnSearch input[type=text] {
    padding-left: 20px;
}

.btnSearch {
    position: relative;
    display: inline;
    text-align: center;
}

/*========== Card ==========*/

div.card {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
    border:none;
    border-radius: 3px;
}

.cartao {
    margin-bottom: 20px;
    height: 90% !important;
}

div.inner {
    overflow: hidden;
}

.msgDivulgacoes{
    text-align: center !important;
    margin-right: 40%;
    margin-left: 40%;
}

/*========== Card - Imagem ==========*/

.card-img-to {
    width: 100%;
    height: 200px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========== Card - Botão ==========*/
a.btn.btn-success {
    border-style: none;
    font-weight: 500;
    font-size: 11pt;
    position: relative;
}

.footercard{
    margin-top: 10px !important;
    background-color: transparent;
    background-color: rgba(0,0,0,0) !important;
    border-top: 1px solid rgba(0,0,0,0) !important;
}

.botao_gradiente {
    background: linear-gradient(20deg, rgba(88,181,135,1) 0%, rgba(76,172,205,0.7234244039412641) 100%);
    transition: opacity 2s;
}

.botao_gradiente:hover{
    background: linear-gradient(100deg, rgb(82, 202, 144) 0%, rgba(62, 172, 205, 0.72) 100%);
}

/*========== Paginação ==========*/

.pagination {
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-link {
    color: black !important;
    font-weight: 400;
}

.page-link:hover {
    background-color: #8bcb8e !important;
}

.page-item.active .page-link{
    background-color: #8bcb8e !important;
    border-color: #8bcb8e !important;
}
