#logofooter {
    text-align: left;
}

#logofooter img {
    width: 100%;
}

.miniMenu {
    text-align: right;
}

.miniMenu li {
    margin-bottom: 3px;
}

a {
    text-underline: none;
    color: #81898f;
}

a:hover {
    text-decoration: none;
    color: #e2eaf0;
}

hr {
    height: 1px;
    background: #666666;
}

/*======= Dropdown Menu =======*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    text-align: left;
}

.dropdown-content a {
    display: block;
    color: #81898f;
    text-decoration: none;
    padding: 3px 0 3px 0;
}

.dropdown-content a:hover {
    color: #e2eaf0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen  and (max-width: 768px) {

    #logofooter {
        text-align: center;
        margin-bottom: 15px;
    }

    .miniMenu {
        text-align: center;
    }

    #logofooter img {
        width: 40%;
    }
}
